USE [PruebaOLX]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 14/04/2022 12:41:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data](
	[Agencia] [nvarchar](255) NULL,
	[Vehículo] [nvarchar](255) NULL,
	[Marca] [nvarchar](255) NULL,
	[Turno] [nvarchar](255) NULL,
	[Modelo] [float] NULL,
	[Ciudad] [nvarchar](255) NULL,
	[Cantidad] [float] NULL,
	[Monto] [money] NULL,
	[Utilidades] [money] NULL,
	[Valor unitario] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle]    Script Date: 14/04/2022 12:41:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle](
	[Ciudad] [nvarchar](255) NULL,
	[Marca] [nvarchar](255) NULL,
	[Fecha de venta] [datetime] NULL,
	[Precio de venta] [money] NULL,
	[Precio de compra] [money] NULL,
	[GAP] [float] NULL,
	[Ganancia] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 14/04/2022 12:41:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[Ciudad] [nvarchar](255) NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Data] ([Agencia], [Vehículo], [Marca], [Turno], [Modelo], [Ciudad], [Cantidad], [Monto], [Utilidades], [Valor unitario]) VALUES (N'OLX', N'Automóvil', N'Nissan Sentra B13', N'Tarde', 1998, N'Cali', 8, 71712000.0000, 9039.6303, 8964000.0000)
INSERT [dbo].[Data] ([Agencia], [Vehículo], [Marca], [Turno], [Modelo], [Ciudad], [Cantidad], [Monto], [Utilidades], [Valor unitario]) VALUES (N'OLX', N'Automóvil', N'Nissan Sentra B13', N'Mañana', 1998, N'Medellín', 5, 44820000.0000, 5649.7689, 8964000.0000)
INSERT [dbo].[Data] ([Agencia], [Vehículo], [Marca], [Turno], [Modelo], [Ciudad], [Cantidad], [Monto], [Utilidades], [Valor unitario]) VALUES (N'OLX', N'Automóvil', N'Toyota Camry', N'Tarde', 1994, N'Medellín', 6, 119520000.0000, 15094.5504, 19920000.0000)
GO
INSERT [dbo].[Detalle] ([Ciudad], [Marca], [Fecha de venta], [Precio de venta], [Precio de compra], [GAP], [Ganancia]) VALUES (N'Barranquilla', N'Chevrolet Onix', CAST(N'2022-03-01T00:00:00.000' AS DateTime), 50796000.0000, 47748240.0000, 0.06, 2864894.4000)
INSERT [dbo].[Detalle] ([Ciudad], [Marca], [Fecha de venta], [Precio de venta], [Precio de compra], [GAP], [Ganancia]) VALUES (N'Bucaramanga', N'Hyundai', CAST(N'2022-03-01T00:00:00.000' AS DateTime), 17928000.0000, 17748720.0000, 0.01, 177487.2000)
INSERT [dbo].[Detalle] ([Ciudad], [Marca], [Fecha de venta], [Precio de venta], [Precio de compra], [GAP], [Ganancia]) VALUES (N'Cali', N'BMW Serie 3 2.0', CAST(N'2022-03-01T00:00:00.000' AS DateTime), 42828000.0000, 39830040.0000, 0.07, 2788102.8000)
GO
INSERT [dbo].[Ubicaciones] ([Ciudad], [Latitud], [Longitud]) VALUES (N'Bogotá', 4.60971, -74.08175)
INSERT [dbo].[Ubicaciones] ([Ciudad], [Latitud], [Longitud]) VALUES (N'Medellín', 6.25184, -75.56359)
INSERT [dbo].[Ubicaciones] ([Ciudad], [Latitud], [Longitud]) VALUES (N'Barranquilla', 10.96854, -74.78132)
GO
